.inputs{
    width: 600px;
    padding:18px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba($color-white,.9);
    color:$color-dark;

    &::placeholder {
        color: $color-dark;
        opacity: 1; 
        font-family: Arial, FontAwesome;
        font-size: 1.3rem;
      }
      
      :-ms-input-placeholder { 
       color: $color-dark;
       font-family: Arial, FontAwesome;
       font-size: 1.3rem;
      }
      
      ::-ms-input-placeholder { 
       color: $color-dark;
       font-family: Arial, FontAwesome;
       font-size: 1.3rem;
      }
}
