.main__animals-t-classification {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(../images/hero.png);

    .classification {
        width: 1258px;
        height: 550px;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;

        &__lists {
           display: flex;
           justify-content: center;
           align-items: center;
        }

        &__list__item {
            height: 108px;
            border-radius: 15px;
            background-color: rgba($color-white, .9);
            width: 400px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            cursor: pointer;
            transition: left .5s ease-in-out;

            &--1 {
                transform: skew(33deg, 0deg);
                color: $color-dark-2;

                .text {
                  transform: skew(-33deg, 0deg);
                }
            }

            &--3 {
                transform: skew(-33deg, 0deg);

                .text {
                  transform: skew(33deg, 0deg);
                }
            }

            &--dark {
                background-color: rgba($color-dark-1, .9);
            }

            &--green {
                background-color: rgba($color-green-2, .9);
            }

            &--orange {
                background-color: rgba($primary-color-3, .9);
                color: $color-dark;
            }

            &--grey {
                background-color: rgba($color-grey-3, .9);
            }

            &:hover {
               position: relative;
               bottom: -5px;
            }

        }
    }
}