.main__animals-cat {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.png) no-repeat;
    background-size: cover;
    .animals-cat {
        width: 1555px;
        height: 709px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        &__item {
            height: 110px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.3rem;
            cursor: pointer;
            margin-left: 10px;
            margin-bottom: 10px;
            transition: all 0.5s ease-in-out;

            &--small {
                width: 330px;
            }

            &--large {
                width: 400px;
            }

            &--dark {
                background-color: rgba($color-dark-1, 0.9);
            }

            &--green {
                background-color: rgba($color-green-2, 0.9);
            }

            &--orange {
                background-color: rgba($primary-color-2, 0.9);
            }

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}

.title {
    font-size: 2rem;
        // border: 2px solid $primary-color-1;
        cursor: pointer;
        text-align: center;
        padding: 16px;
        width: 35%;
        margin: 0px auto;
        margin-bottom: 50px;
        color:$primary-color-1;
        position: relative;
        font-family: "Dinar-One-Medium";
    &::after,
    &::before {
        content: " ";
        width: 20px;
        height: 20px;
        position: absolute;
        transition: all 1s;
    }
    &::before {
        bottom: 25px;
        right: 25px;
        border-bottom: 4px solid $primary-color-1;
        border-right: 4px solid $primary-color-1;
    }
    &::after {
        top: 25px;
        left: 25px;
        border-top: 4px solid $primary-color-1;
        border-left: 4px solid $primary-color-1;
    }
    &__name {
        &::after,
        &::before{
            content: " ";
            width: 20px;
            height: 20px;
            position: absolute;
            transition: all 1s;
        }
        &::after {
            bottom: 25px;
            left: 25px;
            border-bottom: 4px solid $primary-color-1;
            border-left: 4px solid $primary-color-1;
        }
        &::before {
            top: 25px;
            right: 25px;
            border-top: 4px solid $primary-color-1;
            border-right: 4px solid $primary-color-1;
            border-radius: 2px;
        }
    }
}
.animals-cat .slick-slide {
    width: 389px !important;

    & > *:focus{
        border:solid 3px rgba($color-white, 0.9)  !important;
    }
}
.animals-cat__item{
    outline: none !important;
}

.animals-cat .slick-prev {
    width: 51px;
}

.animals-cat .slick-next {
    width: 51px;
}

.animals-cat .slick-list {
    width: 100%;
    background-color: rgba($color-white, 0.5);
    border-radius: 10px;
}

.animals-cat .slick-track {
    width: 7002px !important;
    display: flex;
    flex-wrap: nowrap;
    padding: 30px 30px;
}

.animals-cat .slick-dots {
    margin: 0 auto;
    display: flex;
    & > li {
        padding: 5px;
        & > button {
            padding: 8px;
            outline: none;
            border-radius: 50%;
            border: none;
        }
    }
}

.animals-cat .slick-active {
    outline: none;
    & > button {
        border: solid 2px $color-white !important;
        background-color: $primary-color-1;
        outline: none;
    }
}
