.main {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 65px;
    position: relative;
    box-sizing: border-box;
    font-family: $primary-font;
    background-image: url(../images/home-hero.png);

    &__home {
        // background-image: url(../images/home-hero.png);
        transition: all .5s;
        .menu {
            list-style: none;
            width: 1000px;
            margin: 0 auto;
            text-align: center;

            &__item {
                height: 78px;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: skew(-32deg, 0deg);
                cursor: pointer;
                transition: all .5s ease-in-out;
                transform: translate(50px) skew(-32deg, 0deg);

                &-link {
                    font-size: inherit;
                    color: inherit;
                    font-weight: bold;
                    transition: all .5s;
                }


                &--1 {
                    background-color: rgba($color-white, .9);
                    color: $primary-color;
                    width: 600px;
                    font-size: 1.5rem;
                    margin: 0 auto;
                }

                &--2 {
                    background-color: rgba($primary-color, .9);
                    color: $color-dark;
                    width: 892px;
                    font-size: 3rem;
                }

                &--3 {
                    background-color: rgba($color-dark, .9);
                    color: $color-white;
                    width: 720px;
                    font-size: 1.5rem;
                    margin-right: auto;
                }

                &--4 {
                    background-color: rgba($color-green, .9);
                    color: $color-white;
                    width: 672px;
                    margin: 0 auto;
                    transform: translate(-50px) skew(32deg, 0deg);

                    & .menu__item-link {
                        transform: skew(-50deg, 0deg) !important;
                    }
                }

                &:hover {
                    transform: skew(0deg,0deg);
                    .menu__item-link {
                        transform: skew(-32deg, 0deg)!important;
                    }
                }
            }
        }

        .links {
            list-style: none;
            width: 1000px;
            margin: 0 auto;
            text-align: center;  
            display: flex;
            justify-content: space-between;
            justify-items: center;
            position: absolute;
            left: 400px;
            bottom: 60px;
            z-index: 9;
            &__item {
                width: 30.33%;
                transition: all .9s;
                padding:20px;
                background-color: rgba($color-dark, .9);
                border-radius: 30px;

                &:hover{
                    transform: translateY(-20px);
                }
                &:hover .links__item-link{
                    color:$primary-color-1;
                }
            }

            &__item-link {
                color: $color-white;
               font-size: 2rem;
               text-align: center;
               display: inline-block;
            }
        }
    }
}