.footer {
    position: absolute;
    bottom: 65px;
    left: 65px;
    right: 65px;

    &__items {
        list-style: none;

        display: flex;
        align-items: center;
    }

    &__item {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        cursor: pointer;
        transition: all .5s ease-in-out;

        img {
            height: 50px;
            margin-bottom: 20px;
        }

        &--slides {
            margin-left: auto;
            margin-right: 100px;
        }

        &:hover {
            transform: translateY(-20px);
        }
    }


}