// COLORS
$primary-color: #fbd568;
$color-white: #fff;
$color-dark: #4a4655;
$color-grey: #bdc8c9;
$color-grey-1: #788c8d;
$color-grey-2: #566666;
$color-green: #3cbd6c;
$color-green-1: #2f9e6e;
$color-green-light: #31a661;

// FONTS
$primary-font: "Dinar-One-Medium"