// COLORS
$primary-color: #fbd568;
$primary-color-1: #f7b43d;
$primary-color-2: #c59d4f;
$primary-color-3: #edc75a;
$color-white: #fff;
$color-dark: #4a4655;
$color-dark-1: #454355;
$color-dark-2: #9d6942;
$color-grey: #bdc8c9;
$color-grey-1: #788c8d;
$color-grey-2: #566666;
$color-grey-3: #738986;
$color-green: #3cbd6c;
$color-green-1: #2f9e6e;
$color-green-2: #39be74;
$color-green-light: #31a661;

// FONTS
$primary-font: "Dinar-One-Medium"